{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <title>
        {% block title %}Home{% endblock %}
    </title>

     {% block themeHeader %}
    {% endblock %}

    {% block LandingstyleCss %}
    {% endblock %}

    {% block styleCss%}
    {% endblock %}


</head>


<body>

    {% block themeNavbar %}
    {% endblock %}

   

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% block footer %}{% endblock %}

     {% block themeFooter %}{% endblock %}


    {% block extra_js %}{% endblock %}

</body>
</html>